@import url("Utils.css");
.main-menu.menu-fixed {
    top: 5.9rem !important;
}

@media (min-width: 992px) {
    body.vertical-compact-menu .main-menu, body.vertical-compact-menu .vertical-overlay-menu.menu-hide .main-menu, .vertical-overlay-menu.menu-hide body.vertical-compact-menu .main-menu {
        width: 170px !important;
    }
}

a:hover {
    text-decoration: none !important;
}

hr {
    border: 1px solid #aaa;
}

.c-content {
    margin-left: 0 !important;
}

div.error {
    color: red;
    margin: 0 0 1% 0;
}