.ajs-message.ajs-customError {
    color: #fff;
    background-color: #d95c5c;
    border-color: #31708f;
}

.ajs-message.ajs-customSuccess {
    color: #fff;
    background-color: #5bbd72;
    border-color: #31708f;
}